html {
    background-color: #468155;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial';
    margin-top: 0;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

.shop {
    border: 1px solid #eeeeee;
    padding: 5px;
    margin: 5px;
    flex: auto;
    flex-grow: 0;
    text-decoration: none;
    color: black;
    vertical-align: middle;
    font-size: 12px;
    flex-direction: column;
    flex-basis: 10%;
    display: flex;
    border-radius: 8px;
    background-color: white;
    height: 65px;
    justify-content: center;
    border: 2px solid #E8E8E8;
}

.shops {
    background-color: #f9f9fa;
    border: 2px solid #fff;
    border-radius: 8px;
}

section {
    margin-bottom: 1em;
}

section div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

main {
    padding: 10px;
    background-color: #ffff;
    border-radius: 8px;
    width: 80vw;
    margin: 0 auto;
}

header {
    background-color: black;
    color: white;
    margin-top: 0;
}

.shop:hover {
    border: solid 2px black;
    /* box-shadow: 0 2px 5px rgba(0,0,0,.2); */
}

header h1 {
    margin-top: 0;
}

.shops h1 {
    margin: 6px;
}

.shop img {
    object-fit: contain;
    height: 60px;
}

a span {
    display: none;
}


/* .dukka {
    border: solid thin #6a422a;
} */

#news {
    display: flex;
    padding: 10px;
    background-color: #ffff;
    border-radius: 8px;
    width: 80vw;
    margin: 0 auto 1em auto;
    align-items: center;
}

nav {
    display: flex;
    background-color: white;
    
}

#currencies {
    background-color: #e8e8e8;
    border-radius: 8px;
    margin: 0 auto 1em auto;
    padding-top: 5px;
    padding-bottom: 1em;
    padding-left: 1em;
    text-align: left;
}

#currencies h4 {
    margin-bottom: 0;
    margin-top: 0;
}

details {
    cursor: pointer;
    text-align: left;
    border-radius: 8px;
    background-color: #e8e8e8;
    margin-bottom: 10px;
    padding: .5em;
}

details p {
    border-radius: 10px;
    background-color: white;
    padding: 1em;
}
